.ai-b {
    align-items: baseline;
}

.ai-e {
    align-items: end;
}

.as-e {
    align-self: end;
}

.bb-s {
    border-bottom: solid;
}

.bdc-E8F5E9 {
    border-color: #E8F5E9;
}

.bdc-F3E5F5 {
    border-color: #F3E5F5;
}

.bgc-00701A {
    background-color: #00701A;
}

.bgc-43A047 {
    background-color: #43A047;
}

.bgc-AB47BC {
    background-color: #AB47BC;
}

.bgc-1B5E20-hv:hover {
    background-color: #1B5E20
}

.bs-s {
    border-style: solid;
}

.bw-3px {
    border-width: 3px;
}

.c-E8F5E9 {
    color: #E8F5E9;
}

.c-F3E5F5 {
    color: #F3E5F5;
}

.d-f {
    display: flex;
}

.d-g {
    display: grid;
}

.f-l {
    float: left;
}

.fs-150p {
    font-size: 150%;
}

.fs-200p {
    font-size: 200%;
}

.fs-300p {
    font-size: 300%;
}

.fw-w {
    flex-wrap: wrap;
}

.ga-1122 {
    grid-area: 1/1/2/2;
}

.ga-1223 {
    grid-area: 1/2/2/3;
}

.ga-2132 {
    grid-area: 2/1/3/2;
}

.ga-3143 {
    grid-area: 3/1/4/3;
}

.gt-20p70p10p-60p40p {
    grid-template: 20% 70% 10% / 60% 40%;
}

.gtr-a1fa {
    grid-template-rows: auto 1fr auto;
}

.h-100p {
    height: 100%;
}

.h-128px {
    height: 128px;
}

.jc-sa {
    justify-content: space-around;
}

.l-0p {
    left: 0%;
}

.mh-100p {
    min-height: 100%;
}

.ml-5p {
    margin-left: 5%;
}

.p-a {
    position: absolute;
}

.p-r {
    position: relative;
}

.pad-1p {
    padding: 1%;
}

.pad-5p {
    padding: 5%;
}

.r-0p {
    right: 0%;
}

.t-60p {
    top: 60%;
}

.ta-c {
    text-align: center;
}

.td-n {
    text-decoration: none;
}

.w-128px {
    width: 128px;
}

.w-30p {
    width: 30%;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {
    .ff-c-mq {
        flex-flow: column;
    }    
}

@media screen and (max-width: 640px) {
    .ff-c-mq {
        flex-flow: column;
    }    
}