.ai-b {
    align-items: baseline;
}

.ai-fs {
    align-items: flex-start;
} 

.bb-s {
    border-bottom: solid;
}
.bdc-FFEB3B {
    border-color: #FFEB3B;
}

.bds-s {
    border-style: solid;
}

.bgc-1B5E20 {
    background-color: #1B5E20;
}

.bgc-1B5E20-hv:hover {
    background-color: #00C853;
}

.bgc-388E3C {
    background-color: #388E3C;
}
  
.bt-s {
    border-top: solid;
}

.bw-3 {
    border-width: 3px;
}

.c-E8F5E9 {
    color: #E8F5E9;
}

.d-b {
    display: block;
}

.d-f {
    display: flex;
}

.f-l {
    float: left;
}

.fb-30p {
    flex-basis: 30%;
}

.fd-c {
    flex-direction: column;
}

.fg-1 {
    flex-grow: 1;
}

.fs-0 {
    flex-shrink: 0;
}

.fl-1 {
    flex: 1 0 auto;
}

.fs-150p {
    font-size: 150%;
}

.fs-200p {
    font-size: 200%;
}

.fs-300p {
    font-size: 300%;
  }

.h-100p {
    height: 100%;
}

.h-128px {
    height: 128px;
}

.jc-sa {
    justify-content: space-around;
}

.mt-5p {
    margin-top: 5%;
}

.pad-5p {
    padding: 5%;
}

.pad-20px {
    padding: 20px;
}
  
.ta-c {
    text-align: center;
}

.td-n {
    text-decoration: none;
}

.w-28p {
    width: 28%;
}

.w-30p {
    width: 30%;
}

.w-39p {
    width: 39%;
}

.w-40p {
    width: 40%;
}

.w-55p {
    width: 55%;
}

.w-61p {
    width: 61%
}

.w-128px {
    width: 128px;
}