.ai-b {
    align-items: baseline;
}

.ai-fs {
    align-items: flex-start;
} 

.b-0 {
    bottom: 0;
}
.bb-s {
    border-bottom: solid;
}
  
.bl-s {
    border-left: solid;
}
  
.br-s {
    border-right: solid;
}
  
.bt-s {
    border-top: solid;
}
  
.d-f {
    display: flex;
}

.f-l {
    float: left;
}

.fb-28p {
    flex-basis: 28%;
}

.fb-67p {
    flex-basis: 67%;
}

.fg-1 {
    flex-grow: 1;
}

.fg-4 {
    flex-grow: 3;
}
.fg-5 {
    flex-grow: 5;
}

.fs-200p {
    font-size: 200%;
}

.fs-300p {
    font-size: 300%;
  }

.fw-w {
    flex-wrap: wrap;
}

.jc-c {
    justify-content: center;
}

.jc-sa {
    justify-content: space-around;
}

.p-f {
    position: fixed;
}
  
.lst-n {
    list-style-type: none;
}
  
.ta-c {
    text-align: center;
}

.td-n {
    text-decoration: none;
}

.w-40p {
    width: 40%;
}

.w-100p {
    width: 100%;
}